@media (min-width: 300px) {
  body {
    background: #f8e8a6;
  }

  h1,
  p {
    text-align: center;
  }

  footer {
    text-align: center;
  }

  footer a {
    margin: 0 10px;
    color: green;
  }

  .croissant-img {
    display: block;
    margin: 30px auto;
    border-radius: 10px;
    max-width: 100%;
  }
}
